### Ex1 
Use data from Danmarks Statistik - Databanken
Go to https://www.dst.dk/da/Statistik/brug-statistikken/muligheder-i-statistikbanken/api#testkonsol

In [2]:
import pandas as pd 
url = 'https://api.statbank.dk/v1/tables?format=JSON'
dst = pd.read_json(url)
print(dst)

            id                                               text       unit  \
0       FOLK1A                        Folketal den 1. i kvartalet      antal
1       FOLK1B                        Folketal den 1. i kvartalet      antal
2       FOLK1C                        Folketal den 1. i kvartalet      antal
3       FOLK1D                        Folketal den 1. i kvartalet      antal
4       FOLK1E                        Folketal den 1. i kvartalet      antal
...        ...                                                ...        ...
2223    FISK33       Fritlevende fisk og skaldyr (fysisk balance)        ton
2224    FISK22  Fisk og skaldyr i dam- og havbrug (økonomisk b...  1.000 kr.
2225  SKOVRG01                          Vedmasse (fysisk balance)   1.000 m3
2226  SKOVRG02                       Vedmasse (økonomisk balance)   mio. kr.
2227  SKOVRG03                 Skovareal (Kyoto) (fysisk balance)        km2

                  updated firstPeriod latestPeriod  active  \
0     2021-02-11T08:00:00      2008K1       2021K1    True
1     2021-02-11T08:00:00      2008K1       2021K1    True
2     2021-02-11T08:00:00      2008K1       2021K1    True
3     2021-02-11T08:00:00      2008K1       2021K1    True
4     2021-02-11T08:00:00      2008K1       2021K1    True
...                   ...         ...          ...     ...
2223  2020-12-22T08:00:00        2010         2020    True
2224  2021-01-13T08:00:00        2010         2020    True
2225  2020-06-24T08:00:00        2005         2018    True
2226  2020-06-24T08:00:00        2005         2018    True
2227  2020-06-24T08:00:00        2005         2018    True

                                              variables
0                 [område, køn, alder, civilstand, tid]
1            [område, køn, alder, statsborgerskab, tid]
2     [område, køn, alder, herkomst, oprindelsesland...
3            [område, køn, alder, statsborgerskab, tid]
4                   [område, køn, alder, herkomst, tid]
...                                                 ...
2223      [balanceposter, fiske- og skaldyrsarter, tid]
2224      [balanceposter, fiske- og skaldyrsarter, tid]
2225              [balanceposter, træsort, region, tid]
2226              [balanceposter, træsort, region, tid]
2227                       [balanceposter, region, tid]

[2228 rows x 8 columns]

In [15]:
import pandas as pd 


url = 'https://api.statbank.dk/v1/data/FOLK1A/CSV?valuePresentation=Code&delimiter=Semicolon&CIVILSTAND=F&Tid=2008K1%2C2008K2%2C2008K3%2C2008K4%2C2020K1%2C2020K2%2C2020K3%2C2020K4'
data=pd.read_csv(url)
print(data)

  CIVILSTAND;TID;INDHOLD
0        F;2008K1;428864
1        F;2008K2;431550
2        F;2008K3;432713
3        F;2008K4;432156
4        F;2020K1;544588
5        F;2020K2;548229
6        F;2020K3;550715
7        F;2020K4;552419